* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
  font-family: "Courgette", cursive;
}

.hide {
  visibility: hidden;
  opacity: 0;
}

/*********************/
/*** HERO SECTION ***/
/*********************/

.hero-section {
  height: 100vh;
  background-image: url("background.jpg");
  max-width: 100%;
  background-size: cover;
  position: relative;
  margin-bottom: 20rem;
}

/***************/
/*** NAVBAR ***/
/***************/

.btn-mobile-nav {
  position: fixed;
  right: 2%;
  top: 3%;
  z-index: 10000;
}

.full {
  height: 100%;
}

.first-half {
  position: fixed;
  width: 50%;
  height: 100%;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(6px);
  z-index: 100;

  opacity: 0;
  visibility: hidden;
}

.second-half {
  position: fixed;
  width: 50%;
  height: 100%;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  z-index: 100;

  opacity: 0;
  visibility: hidden;
}

.navbar {
  z-index: 100;
  height: 100%;
  position: relative;
  left: 50%;
  top: 6%;
  text-align: center;
  transition: all 1.25s ease-out;

  /* Hide navigation */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.nav-list {
  position: relative;
  list-style: none;
  right: 25%;
}

.nav-list li {
  padding-bottom: 2rem;
}

.nav-list li:last-child {
  padding: 0;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
  color: #333;
  cursor: pointer;
  padding-right: 5rem;
}

.nav-link:hover,
.nav-link:active {
  color: #c92a2a;
}

.circle-1 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.circle-2 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  z-index: 9999;
  /* width: 5rem;
  height: 5rem; */

  /* Hide navigation */
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

@keyframes menu-circle-big {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
    width: 50vh;
    height: 50vh;
  }

  100% {
    width: 200vh;
    height: 200vh;
    /* margin-left: -100vh;
    margin-top: -100vh; */
    opacity: 0;
    visibility: hidden;
    border: 2px solid red;
    border-radius: 100%;
  }
}

@keyframes menu-circle-small {
  0% {
    width: 0px;
    height: 0px;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    width: 6rem;
    height: 6rem;
    opacity: 1;
    border: 2px solid red;
    border-radius: 50%;
  }
}

.btn-mobile-nav {
  z-index: 9999;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-open.first-half {
  opacity: 1;
  visibility: visible;
}

.nav-open.second-half {
  opacity: 1;
  visibility: visible;
}

.nav-open.navbar {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateY(30%);
}

.nav-open.circle-1 {
  visibility: visible;

  animation: 1.25s ease-out 0.5s menu-circle-big both;
  -webkit-animation: 1.25s ease-out 0.5s menu-circle-big both;
}

.nav-open.circle-2 {
  /* opacity: 1; */
  visibility: visible;

  animation: 0.5s ease-out 1s menu-circle-small both;
  -webkit-animation: 0.5s ease-out 1s menu-circle-small both;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #000;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.sub-menu {
  display: none;
  position: fixed;
  top: 0%;
  left: 60%;
  transform: translate(50%, 50%);
}

.nav-list li:hover .sub-menu {
  display: block;
}

.sub-menu ul {
  list-style: none;
}

.sub-menu-2 {
  display: none;
  position: fixed;
  top: 0%;
  left: 65%;
  transform: translate(50%, 50%);
}

.nav-list li:hover .sub-menu-2 {
  display: block;
}

.sub-menu-2 ul {
  list-style: none;
}

.submenu-link:link,
.submenu-link:visited {
  cursor: pointer;
  text-decoration: none;
  font-size: 3rem;
  color: bisque;
}

.submenu-link:hover,
.submenu-link:active {
  color: red;
}

/* .container {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, 25%);
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

svg {
  display: inline-block;
  height: 100%;
} */

/*********************/
/*** INFO SECTION ***/
/*********************/

.info-section {
  margin-bottom: 20rem;
}

.img {
  width: 80%;
  border-radius: 100%;
}

.container {
  max-width: 80rem;
  /* padding: 0 3.2rem; */
  margin: 0 auto;
}

.img-box {
  position: relative;
  text-align: center;
}

.img-box::after {
  content: "";
  display: block;
  position: absolute;
  width: 60%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* z-index: 1; */
  background-color: #fff;
  border-radius: 100%;
}

.text-container {
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translateX(-20%); */
  z-index: 2;
  padding-right: 55rem;
}

.info-section-about {
  font-size: 1.6rem;
  font-weight: 100;
  padding-bottom: 0.8rem;
}

.info-section-heading {
  font-size: 3.2rem;
  padding-bottom: 1.4rem;
  line-height: 1.2;
}

.info-text {
  font-size: 1.6rem;
  line-height: 1.2;
}

.text {
  margin-bottom: 2rem;
  text-align: start;
}

.about-btn {
  display: inline-block;
  cursor: pointer;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  padding: 1rem 2.2rem;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 15px;
  font-weight: 600;
}

.about-btn:hover {
  background-color: #343a40;
  border: 2px solid #343a40;
  color: #fff;
  transition: all 0.5s ease;
}

.shrimp {
  z-index: 1;
  width: 100%;
  position: absolute;
  top: 10%;
  left: 0;
}

.shrimp-img {
  width: 100%;
}

.svg-shrimp-draw {
  position: absolute;
  top: 12%;
  width: 100%;
  height: 100%;
  z-index: 1;
}

svg {
  display: inline-block;
  height: 100%;
}
